body {
  box-shadow: rgb(44, 62, 80) 15px 0px 15px -15px inset,
    rgb(44, 62, 80) -15px 0px 15px -15px inset;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html, body{ max-width: 100%;}


/* Estilado del encabezado: links de navegacion  */

header nav {
  position: fixed;
  z-index: 2;
}

.lista {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav {
  background-color: #f39189;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 15%;
  padding-top: 3%;

  width: 100%;
}

.link {
  text-decoration: none;
  margin-right: 80px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

.lista a:hover {
  color: white;
}

.lista .cambio-boton:hover {
  color: #fd0277;
  font-weight: 900;
}

.cambio-boton {
  outline: none;
  background-color: #6e7582;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
}


/* Estilado de sección de presentación */

#presentacion {
  width: 100%;
  display: flex;
  height: 100%;
  padding: 10% 0%;
  align-items: center;
  justify-content: space-around;
  background-color: #bb8082;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px 0px, rgba(0, 0, 0, 0.09) 0px 4px 2px 0px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, rgba(0, 0, 0, 0.09) 0px 16px 8px 0px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
}

.contenedor-foto-presentacion {
  padding-right: 15%;
  padding-top: 8%;
  width: 80%;
}

.estilo-foto{
  width: 140%;
}


.info {
  padding-left: 10%;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}

.info h1 {
  padding: 10% 0;
}

.info p {
  padding-bottom: 10%;
  font-size: 20px;
  width: 80%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  color: rgb(44, 9, 49);
  font-family: "Fascinate", cursive;
}

.info h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Caveat", cursive;
  text-align: left;
}

.info .cambio-boton{
  text-decoration: none;
}

.info .cambio-boton:hover {
  color: #fd0277;
  font-weight: 900;
}


/* Estilado de sección de habilidades  */

#conocimientos {
  background-image: radial-gradient(
    circle,
    #f39189,
    #e98e89,
    #de8a88,
    #d48787,
    #c98485,
    #bf7e89,
    #b4788d,
    #a6748f,
    #8c6f96,
    #6a6c98,
    #416991,
    #046582
  );
}

h2 {
  padding-top: 5%;
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 70px;
  font-weight: 900;
}

.icono {
  width: 28%;
  height: 28%;
  border: 1px solid rgb(191, 190, 190);
  border-radius: 10px;
  margin: 25px;
}

.icono h3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10%;
}

.tamaño-icono {
  text-align: center;
  width: 75%;
  padding-left: 25%;
  padding-top: 10%;
  padding-bottom: 15%;
}

.posicion-iconos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% 10% 0 10%;
}

.div-habilidades p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
}

.icono:hover {
  color: purple;
  border: 2px solid purple;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.informacion-extra {
  margin-top: 5%;
  background-color: #f39189;
  height: 150px;
  padding-top: 30px;
}

.informacion-extra p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  padding-left: 2%;
}

.informacion-extra a {
  color: purple;
  font-size: 18px;
  padding-left: 4%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.informacion-extra a:hover {
  color: #fd0277;
}


/* Estilado de sección de cita  */

.seccion-de-cita {
  background-color: #6e7582;
  height: 100%;
}

.contenedor-comillas p {
  color: white;
  font-size: 400px;
  display: flex;
  justify-content: center;
  height: 0.7em;
}

.seccion-de-cita blockquote p {
  font-family: Montserrat;
  font-size: 50px;
  text-align: center;
  color: white;
}

.autor {
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: 900;
  padding-top: 5%;
}

.contenedor-cita {
  padding-bottom: 5%;
}


/* Estilado de sección de proyectos  */

#proyectos {
  background-color: #f39189;
  padding-bottom: 10%;
}

#proyectos p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;

  text-align: center;
  line-height: 2;
  padding: 5% 15% 0 15%;
}

.proyecto-especifico {
  width: 350px;
  height: 350px;
  border: 1px solid purple;
  border-radius: 10px;
  margin-top: 50px;
/* background-color: #6e7582;*/
  background-color:white;
  
}

.img-proyectos {
  display: flex;
  text-align: center;
  width: 300px;
  height: 250px;
  padding-left: 12%;
  padding-top: 20px;
 /* border-radius: 50%;*/
}

.posicion-proyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10%;
}

#proyectos h3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 40px;
  padding-bottom: 10%;
}

.proyecto-especifico:hover .img-proyectos {
  transform: scale(1.3);
}
.proyecto-especifico {
  overflow: hidden;
  z-index: 1;
}

.proyecto-especifico:hover{
  border: 3px solid purple;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}


/* Estilado de sección de contacto  */

#contacto {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10% 10% 5% 10%;
  margin: 0px 0px 0px 0px;
  background-color: #bb8082;
}

.contact-style {
  width: 48%;
  height: 600px;
  background-color: #6e7582;
  border-radius: 10%;
  box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px inset;
  padding-bottom: 25px;
}

.contact-style h2 {
  padding-top: 20px;
}


/* Sección de contacto via redes y mail (links) */

.contact-me p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10%;
}

.redes {
  margin-top: 1%;
}

.redes img {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  padding: 8px;
  background-color: #f39189;
  border-radius: 15px;
}
/************************************/
.redes i {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  padding-top: 8px;
  text-align: center;
  background-color: #f39189;
  border-radius: 15px;
}
/***********************************/

.redes a {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 25px;
  padding-left: 10px;
  text-decoration: none;
}

.redes a:hover {
  color:white;
  
}

.redes a img:hover{
  background-color:white;
}



/* Sección de contacto directo (formulario) */

.formulario {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.formulario p {
  padding-top: 20px;
  font-family: "Caveat", cursive;
  font-size: 25px;
}

input[type="text"],
[type="email"] {
  background-color: #f39189;
  height: 30px;
  width: 75%;
  border-radius: 15px;
  border: none;
}

input[type="email"] {
 width: 80%;
}

textarea {
  background-color: #f39189;
}

input[type="submit"] {
  background-color: #f39189;
  font-family: "Caveat", cursive;
  font-size: 20px;
  border: none;
  width: 35%;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
}


/* Pie de página: contactos y link de navegación (footer) */

.nav-pie {
  padding-top: 90px;
  height: 300px;
  background-color: #6e7582;
}

.pie-pagina {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}

.pie-pagina a:hover {
  color: white;
}

.redes-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 8% 0 0;
}

.msj-final-autor {
  margin-top: 2%;
  padding-right: 4%;
  text-align: center;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.firma {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

.heart {
  color: #f39189;
  font-size: 30px;
}



/* Sección de Media Queries */

@media (max-width: 600px) {
  header {
    display: none;
  }


  #presentacion {
    height: 1250px;
    display: flex;
    flex-direction: column;
  }

  .contenedor-foto-presentacion {
    padding-bottom: 100px;
    margin-right: 10%;
  }

  .info h1 {
    line-height: 1;
    text-align: center;
    padding-right: 10%;
  }

  .parrafo-presentacion {
    display: flex;
    text-align: center;
    padding-left: 10%;
  }

  .info h2 {
    padding-right: 80px;
    text-align: center;
  }

  .info .cambio-boton {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 10%;
  }


  #conocimientos {
    height: 100%;

  }


  .div-habilidades p {
    padding: 5% 20% 0 20%;

  }

  .posicion-iconos {
    display: flex;

  }

  .icono {
    width: 300px;
    height: 300px;

  }

  .informacion-extra {
    padding-left: 5%;
    padding-right: 5%;
    height: 200px;

  }


  .seccion-de-cita{
    height: 600px;
  }

  
  .posicion-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  #contacto {
    height: 1300px;
    flex-direction: column;
   
  }

  .contact-style {
    width: 100%;
    
  }


  .formulario {
    width: 100%;
    padding-left:3%;
    padding-right:3%;
  }

  input[type="text"],
  [type="email"] {
    width: 65%;
  }

  input[type="email"] {
    width: 70%;
  }

  textarea {
    width: 99%;
  }


  .nav-pie {
    height: 550px;
  }

  .pie-pagina {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 150%;
    line-height: 2;
    padding-left: 18%;
  }

  .redes-position{
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

}


/*****************************/

@media(max-width:440px) {
.posicion-proyectos{
margin:0;
padding: 0;
}
  
}

/****************************/

@media(max-width:370px){
 

  #contacto{
    padding-left: 5%;
    padding-right: 5%;
    
  }

  .redes-position{
    padding-right: 18%;
  }

}

/****************************/

@media (min-width:371px) and (max-width:450px){

  #contacto{
    padding-left: 5%;
    padding-right: 5%;
    
    
  }

  .contact-style{
    width: 100%;
  }
}


/****************************/

@media (min-width:601px) and (max-width:991px){

  header {
    display: none;
  }

  
  #presentacion {
    height: 1500px;
    display: flex;
    flex-direction: column;
  }

  .estilo-foto {
    width: 150%;
    height: 100%;
    padding-right: 25%;
  }

  .contenedor-foto-presentacion {
    padding-bottom: 100px;
  }

  .info h1 {
    line-height: 1;
    text-align: center;
    padding-right: 10%;
  }

  .parrafo-presentacion {
    display: flex;
    text-align: center;
    padding-left: 10%;
  }

  .info h2 {
    padding-right: 80px;
    text-align: center;
  }

  .info .cambio-boton {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 10%;
  }
 
  #contacto {
    height: 1400px;
    flex-direction: column;
    padding-left: 20% ;
    padding-right: 20%;
  }

  .contact-style {
    width: 100%;
    margin-bottom: 4%;
  
  }


  .formulario {
    width:100%;
    padding-left: 5%;
  }

  input[type="text"],
  [type="email"] {
    width:70%;
  }

  input[type="email"] {
    width:75%;
  }

  textarea {
    width: 95%;
  }
  
  .contenedor-links-pie{
    padding-left: 5%;
  }

}


/**************************/

@media (min-width:601px) and (max-width:621px) { 
  .contact-style{
    height: 100%;
   }
}
/**************************/

@media (min-width:992px) and (max-width:1070px){

  #contacto{
    display: flex;
    flex-direction: row;
    
  }
 
  .contact-style{
    width: 150%;
    margin-right: 1%;
    
  }

  .formulario{
    padding-left: 5%;
  }

  input[type="text"],
  [type="email"] {
    width:70%;
  }

  input[type="email"] {
    width:75%;
  }

  textarea {
    width: 95%;
  }


  .contenedor-links-pie{
    padding-left: 5%;
  }

}

/**************************/

@media (min-width:992px) and (max-width:1185px){

  .info h2{
    margin-top: 10%;
  }

  h1{
    line-height: 1;
  }

}

